.gallery, .favoritos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.photo-item, .favorito-item {
  position: relative;
  overflow: hidden;
  width: 150px; 
  height: 150px;
}

.favorito-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heart-icon {
  position: absolute;
  top: 0px;
  right: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s ease;
}

.heart-icon.liked {
  color: red;
}

h3, strong {
    color:green;
}